.floating-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.prediction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 1rem; /* Reduce margin */
    padding: .5rem; /* Reduce padding */
}

.coin-container {
    margin: 10px; /* Reduce margin */
}

.coin-image {
    width: 80px; /* Reduce image width */
    height: 80px; /* Reduce image height */
}

h2 {
    margin-top: 5px; /* Reduce margin */
}

button {
    margin-top: 5px; /* Reduce margin */
}

